<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>PlanetServer addin</Name><AddInID>{a1550d63-8a3d-402e-b540-8ce244b52f56}</AddInID><Description>New Addin</Description><Version>0.1</Version><Image /><Author>Jelmer Oosthoek</Author><Company>JUB</Company><Date>01/25/2014</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="ArcGISPlanetServer_addin.py" namespace="ps"><ArcMap>
    <Commands>
        <Button caption="OLINDEX2" category="PlanetServer addin" class="ButtonClass1" id="ArcGISPlanetServer_addin.button_1" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="BD1900R" category="PlanetServer addin" class="ButtonClass2" id="ArcGISPlanetServer_addin.button_2" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="BD2100" category="PlanetServer addin" class="ButtonClass3" id="ArcGISPlanetServer_addin.button_3" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="D2210" category="PlanetServer addin" class="ButtonClass4" id="ArcGISPlanetServer_addin.button_4" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="D2300" category="PlanetServer addin" class="ButtonClass5" id="ArcGISPlanetServer_addin.button_5" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="SINDEX" category="PlanetServer addin" class="ButtonClass6" id="ArcGISPlanetServer_addin.button_6" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="BD2500" category="PlanetServer addin" class="ButtonClass7" id="ArcGISPlanetServer_addin.button_7" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="D2300*BD2500" category="PlanetServer addin" class="ButtonClass8" id="ArcGISPlanetServer_addin.button_8" image="" message="" tip=""><Help heading="" /></Button>
        <Tool caption="x" category="PlanetServer addin" class="ToolClass1" id="ArcGISPlanetServer_addin.tool_1" image="" message="" tip=""><Help heading="" /></Tool>
        <Tool caption="y" category="PlanetServer addin" class="ToolClass2" id="ArcGISPlanetServer_addin.tool_2" image="" message="" tip=""><Help heading="" /></Tool>
        <Button caption="avg" category="PlanetServer addin" class="ButtonClass9" id="ArcGISPlanetServer_addin.button_9" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="New/change folder" category="PlanetServer addin" class="ButtonClass10" id="ArcGISPlanetServer_addin.button_10" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Load saved folder" category="PlanetServer addin" class="ButtonClass11" id="ArcGISPlanetServer_addin.button_11" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Diagram" category="PlanetServer addin" class="ButtonClass12" id="ArcGISPlanetServer_addin.button_12" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="RGB Phyllosilicates" category="PlanetServer addin" class="ButtonClass13" id="ArcGISPlanetServer_addin.button_13" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="RGB" category="PlanetServer addin" class="ButtonClass14" id="ArcGISPlanetServer_addin.button_14" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="WMS" category="PlanetServer addin" class="ButtonClass15" id="ArcGISPlanetServer_addin.button_15" image="" message="" tip=""><Help heading="" /></Button>
        <ComboBox caption="Show:" category="PlanetServer addin" class="ComboBoxClass1" id="ArcGISPlanetServer_addin.combobox_1" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        <ComboBox caption="Bin:" category="PlanetServer addin" class="ComboBoxClass2" id="ArcGISPlanetServer_addin.combobox_2" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
    </Commands>
    <Extensions>
    </Extensions>
    <Toolbars>
        <Toolbar caption="PlanetServer" category="PlanetServer addin" id="ArcGISPlanetServer_addin.toolbar" showInitially="true">
            <Items>
                <Menu refID="ArcGISPlanetServer_addin.menu_1" />
                <Tool refID="ArcGISPlanetServer_addin.tool_1" />
                <Tool refID="ArcGISPlanetServer_addin.tool_2" />
                <Button refID="ArcGISPlanetServer_addin.button_9" />
                <Menu refID="ArcGISPlanetServer_addin.menu_2" />
                <ComboBox refID="ArcGISPlanetServer_addin.combobox_1" />
                <ComboBox refID="ArcGISPlanetServer_addin.combobox_2" />
                <Button refID="ArcGISPlanetServer_addin.button_12" />
                <Button refID="ArcGISPlanetServer_addin.button_15" />
            </Items>
        </Toolbar>
    </Toolbars>
    <Menus>
        <Menu caption="Start" category="PlanetServer addin" id="ArcGISPlanetServer_addin.menu_1" isRootMenu="false" isShortcutMenu="false" separator="false">
            <Items>
                <Button refID="ArcGISPlanetServer_addin.button_10" />
                <Button refID="ArcGISPlanetServer_addin.button_11" />
            </Items>
        </Menu>
        <Menu caption="Band math" category="PlanetServer addin" id="ArcGISPlanetServer_addin.menu_2" isRootMenu="false" isShortcutMenu="false" separator="false">
            <Items>
                <Button refID="ArcGISPlanetServer_addin.button_14" />
                <Button refID="ArcGISPlanetServer_addin.button_13" />
                <Button refID="ArcGISPlanetServer_addin.button_1" />
                <Button refID="ArcGISPlanetServer_addin.button_2" />
                <Button refID="ArcGISPlanetServer_addin.button_3" />
                <Button refID="ArcGISPlanetServer_addin.button_4" />
                <Button refID="ArcGISPlanetServer_addin.button_5" />
                <Button refID="ArcGISPlanetServer_addin.button_6" />
                <Button refID="ArcGISPlanetServer_addin.button_7" />
                <Button refID="ArcGISPlanetServer_addin.button_8" />
            </Items>
        </Menu>
    </Menus>
</ArcMap></AddIn></ESRI.Configuration>